<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>HuertaEnRed - Inicio</title>

	<!-- Primary Meta Tags -->
	<meta name="title" content="Huerta en Red - Web">
	<meta name="description" content="Somos huerta en red un sitio para compartir info sobre huertas.">
	
	<meta name="author" content="Matias Leonardo Baez MattProfe">
	<meta name="reply-to" content="elmattprofe@gmail.com">
	<link rev="made" href="mailto:elmattprofe@gmail.com">
	<meta name="keywords" content="Matias Baez,matias baez,mattprofe,MattProfe,Matt Profe,matt profe,programación,programacion,robotica,robótica,informática,informatica,desarrollo,web">
	<meta name="Resource-type" content="Document">
	<meta name="DateCreated" content="Thu, 22 September 2020 00:00:00 GMT+3">

	<!-- Open Graph / Facebook -->
	<meta property="og:type" content="website">
	<meta property="og:url" content="https://huertaenred.com.ar/">
	<meta property="og:title" content="Huerta en Red - Web">
	<meta property="og:description" content="Somos huerta en red un sitio para compartir info sobre huertas.">
	<meta property="og:image" content="http://huertaenred.com.ar/img/system/hero.png">

	<link rel="stylesheet" href="views/static/css/styles.css">
</head>
<body>


	<div id="wrapper">
		

		<div id="header">
			
			<div id="hero">
				<img src="img/system/hero.png">
			</div>


			<div id="control">
				
				<a href="login" class="btn__login">Ingresar</a>
				<a href="register" class="btn__register">Registrarse</a>

			</div>

		</div>

		<div id="content">
			
			<div id="window">
				
				<div id="window__img">
					<img src="img/system/landing.svg" alt="">
				</div>

				<div id="window__description">
					<h3>Bienvenido</h3> ya tenemos {{CANT_HUERTAS}} huertas y vos también podes unirte a los {{CANT_USERS}} usuarios activos.
				</div>

			</div>

		</div>

		<div id="footer">
			
			<div id="footer__author">
				@mattprofe
			</div>

			<div id="footer__plus">
				mattprofe.com.ar
			</div>

		</div>
	</div>


	
</body>
</html>