<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>

	<link rel="stylesheet" href="views/static/css/styles.css">
</head>
<body>


	<div id="wrapper">
		

		<div id="header">
			
			<div id="hero">
				<img src="img/system/hero.png">
			</div>


			<div id="control">
				
				<a href="?slug=login" class="btn__login">Ingresar</a>
				<a href="?slug=register" class="btn__register">Registrarse</a>

			</div>

		</div>

		<div id="content">
			
			<div id="window">
				
				<div id="window__img">
					<img src="img/system/landing.svg" alt="">
				</div>

				<div id="window__description">
					<h3>Bienvenido</h3> ya tenemos {{CANT_HUERTAS}} huertas y vos también podes unirte a los {{CANT_USERS}} usuarios activos.
				</div>

			</div>

		</div>

		<div id="footer">
			
			<div id="footer__author">
				@mattprofe
			</div>

			<div id="footer__plus">
				mattprofe.com.ar
			</div>

		</div>
	</div>


	
</body>
</html>