<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>

	<link rel="stylesheet" href="views/static/css/styles.css">
</head>
<body>


	<div id="wrapper">
		

		<div id="header">
			
			<div id="hero">
				<a href="?slug=landing">
				<img src="img/system/hero.png">
				</a>
			</div>


			<div id="control">
				
				<a href="?slug=logout" class="btn__register">Cerrar sesión</a>

			</div>

		</div>

		<div id="content">
			
			<div id="window">
				
				<div id="window__img">
					<img src="img/system/panel.svg" alt="">
				</div>

				<div id="window__description">	

					<h1>Te estabamos extrañando {{USER_NAME}}</h1>


					<h2>Tus huertas necesitan atención</h2>

				</div>

			</div>

		</div>

		<div id="footer">
			
			<div id="footer__author">
				@mattprofe
			</div>

			<div id="footer__plus">
				mattprofe.com.ar
			</div>

		</div>
	</div>


	
</body>
</html>
