<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>

	<link rel="stylesheet" href="views/static/css/styles.css">
</head>
<body>

	<div id="fog">
		<div id="popup">
			

			<div id="popup__title">
				<div id="popup__close">X</div>
			</div>

			<div id="popup__description">
				Desea abandonar la aplicacion
			</div>

			<div id="popup__control">
				
				<a href="?slug=abandonar">
					<div id="popup__accept">Aceptar</div>
				</a>
				<div id="popup__cancel">Cancelar</div>

			</div>

		</div>
	</div>	


	<div id="wrapper">
		

		<div id="header">
			
			<div id="hero">
				<a href="?slug=landing">
				<img src="img/system/hero.png">
				</a>
			</div>


			<div id="control">
				
				<a href="?slug=logout" class="btn__login">Cerrar sesión</a>

			</div>

		</div>

		<div id="content">
			
			<div id="window">
				
				<div id="window__img">
					<img src="img/system/register.svg" alt="">
				</div>

				<div id="window__description">
					<h1>Perfil</h1>

					<form action="" method="POST">
						
						<div id="error_msg">{{MSG_ERROR}}</div>

						<input type="text" name="txt_nombre" value="{{USER_NAME}}" placeholder="nombre" required>
						<input type="text" name="txt_apellido" value="{{USER_LAST_NAME}}" placeholder="apellido" required>
						<input type="submit" name="btn__actualizar" value="Guardar">
					</form>

					<button id="leave_out">Abandonar</button>
				</div>

			</div>

		</div>

		<div id="footer">
			
			<div id="footer__author">
				@mattprofe
			</div>

			<div id="footer__plus">
				mattprofe.com.ar
			</div>

		</div>
	</div>



	<script type="text/javascript">
		
		leave_out.addEventListener("click", e => {
			fog.style.display = "flex";
		})


		function closeFog(){
			fog.style.display = "none";
		}

		popup__cancel.addEventListener("click", e => {
			closeFog()
		})

		popup__close.addEventListener("click", e => {
			closeFog()
		})	



	</script>

	
</body>
</html>


