<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>

	<link rel="stylesheet" href="views/static/css/styles.css">
</head>
<body>


	<div id="wrapper">
		

		<div id="header">
			
			<div id="hero">
				<a href="landing">
				<img src="img/system/hero.png">
				</a>
			</div>


			<div id="control">
				
				<a href="login" class="btn__login">Iniciar sesión</a>

			</div>

		</div>

		<div id="content">
			
			<div id="window">
				
				<div id="window__img">
					<img src="img/system/register.svg" alt="">
				</div>

				<div id="window__description">
					<h1>Registrarse es simple</h1>

					<form action="" method="POST">
						
						<div id="error_msg">{{MSG_ERROR}}</div>

						<input type="email" name="txt_email" placeholder="email" required>
						<input type="password" name="txt_contraseña" placeholder="contraseña" required>
						<input type="submit" name="btn__register" value="Unirme">
					</form>
				</div>

			</div>

		</div>

		<div id="footer">
			
			<div id="footer__author">
				@mattprofe
			</div>

			<div id="footer__plus">
				mattprofe.com.ar
			</div>

		</div>
	</div>


	
</body>
</html>


